@charset "utf-8";
/* CSS Document */
body {
	widht : 1000px;
	height : 1500px;
	position : relative;
	margin:0px;
	padding:0px;
}

main {
	widht : 1000px;
	height : 1500px;
	position : relative;
	margin-top:10px;
}

nav li {
display: inline;
list-style-type: none;
margin-right: 20px;
}

nav {
padding: 7px;
position: absolute;
top: 0;
left : 200px;
font-family: 'League Gothic', sans-serif;
font-style: sans-serif;
}

nav a {
font-size: 15px;
font-weight: 400;
text-decoration: none;
color: white;
}

nav a:hover {
font-weight: bold;
}

.rani{
	widht : 5px;
	height : 10px;
	position : absolute;
	z-index: 2;
	top : 200px;
	left : 100px;
}

.judul{
	font-family: 'Ramaraja', serif;
	font-size: 50px;
	color:white;
	position:absolute;
	top:250px;
	left:500px;
}
p{
	font-family: 'Ramaraja', serif;
	font-size: 20px;
	color:white;
	position:absolute;
	top:300px;
	left:500px;
	width:500px;
	line-height:50px;
	align:justify;
	}
.judul2{
	font-family: 'Ramaraja', serif;
	font-size: 25px;
	color:black;
	position:absolute;
	top:550px;
	left:600px;
}
#deskripsi{
	font-family: 'Ramaraja', serif;
	font-size: 15px;
	font-color:black;
	position:absolute;
	top:600px;
	left:600px;
	align:justify;
	z-index:3;
	}
.judul3{
	font-family: 'Ramaraja', serif;
	font-size: 25px;
	color:black;
	position:absolute;
	top:950px;
	left:600px;
}
#deskripsi2{
	font-family: 'Ramaraja', serif;
	font-size: 15px;
	font-color:black;
	position:absolute;
	top:1000px;
	left:600px;
	align:justify;
	z-index:3;
	}
#klik1 {
	color:#039 ;
	background-color:white;
	border-radius:5px;
	position:absolute;
	top : 550px;
	left : 500px;
	width: 150px;
	height: 70px;
	font-size: 20px;
	font-weight: bold;
	border:0;
	z-index:2;
	}
#klik2 {
	color:white ;
	background-color:#036;
	border-radius:5px;
	position:absolute;
	top : 650px;
	left : 600px;
	width: 150px;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	border:0;
	z-index:2;
	}
#klik3 {
	color:white ;
	background-color:#036;
	border-radius:5px;
	position:absolute;
	top : 1050px;
	left : 600px;
	width: 150px;
	height: 50px;
	font-size: 15px;
	font-weight: bold;
	border:0;
	z-index:2;
	}
.SD {
	font-family: 'Ramaraja', serif;
	color:black;
	position:absolute;
	top:100px;
	left:100px;
	line-height:50px;
	}
.SMP {
	font-family: 'Ramaraja', serif;
	color:black;
	position:absolute;
	top:100px;
	left:380px;
	line-height:50px;
	}
.SMP2 {
	font-family: 'Ramaraja', serif;
	color:black;
	position:absolute;
	top:100px;
	left:600px;
	line-height:50px;
}
.SMA {
	font-family: 'Ramaraja', serif;
	color:black;
	position:absolute;
	top:100px;
	left:850px;
	line-height:50px;
	}
.UPI {
	font-family: 'Ramaraja', serif;
	color:black;
	position:absolute;
	top:100px;
	left:1100px;
	line-height:50px;
	}
.shadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
padding: 20px;
margin-top: 20px;
height:300px;
}
.shadow2 {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 5px;
padding: 20px;
margin-top: 20px;
height:800px;
}
#laba{
	position:absolute;
	left: 50px;
	top: 500px;
}
#abril{
	position:absolute;
	left: 50px;
	top: 900px;
}
footer {
padding: 20px;
color: white;
background-color:#036;
text-align:center;
}